<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>会员数据申请管理</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />


    <link href="./css/font-awesome.css" rel="stylesheet" />

    <link href="./css/adminia.css" rel="stylesheet" />
    <link href="./css/adminia-responsive.css" rel="stylesheet" />


    <link href="./css/pages/plans.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">会员数据申请管理</a>

            <div class="nav-collapse">

                <ul class="nav pull-right">

                    <li class="divider-vertical">
                        <li>
                            <a href="#"><i class="icon-off"></i> 注销</a>
                        </li>
                    </li>

                </ul>

            </div> <!-- /nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->




<div id="content">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="account-container">

                    <div class="account-details">

                        <span class="account-name">张先生</span>

                        <span class="account-role">CRM | 管理员</span>

                        <span class="account-actions">Mr.zhang@wyethnutrition.com</span>

                    </div> <!-- /account-details -->

                </div> <!-- /account-container -->

                <hr />

                <ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li class="active">
                        <a href="./adduser_a.html">
                            <i class="icon-plus"></i>
                            新增用户
                        </a>
                    </li>

                    <li>
                        <a href="./userlist_a.html">
                            <i class="icon-user"></i>
                            用户列表
                        </a>
                    </li>

                    <li>
                        <a href="./applylist_a.html">
                            <i class="icon-th-list"></i>
                            申请列表
                        </a>
                    </li>

                    <li>
                        <a href="./login.html">
                            <i class="icon-lock"></i>
                            注销
                        </a>
                    </li>

                </ul>

                <hr />

                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div> <!-- .sidebar-extra -->

                <br />

            </div> <!-- /span3 -->



            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-plus"></i>
                    新增用户
                </h1>


                <div class="row">

                    <div class="span9">

                        <div class="widget">

                            <div class="widget-header">
                                <h3>新增用户</h3>
                            </div> <!-- /widget-header -->

                            <div class="widget-content">

                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#1" data-toggle="tab">以下内容由管理员填写</a>
                                        </li>
                                    </ul>

                                    <br />

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">
                                            <form id="edit-profiles" class="form-horizontal" />
                                            <fieldset>

                                                <div class="control-group">
                                                    <label class="control-label" for="username"> 姓 名 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" id="username" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="department"> 部 门 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" id="department" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="position"> 职 位 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" id="position" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="phone">联系电话</label>
                                                    <div class="controls">
                                                        <input type="tel" class="input-medium" id="phone" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="email">E-mail</label>
                                                    <div class="controls">
                                                        <input type="email" class="input-large" id="email" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="password1"> 密 码 </label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" id="password1" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="password2">确认密码</label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" id="password2" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary">保存</button>
                                                    <button class="btn">取消</button>
                                                </div> <!-- /form-actions -->
                                            </fieldset>
                                            </form>
                                        </div>

                                    </div>


                                </div>

                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->

                    </div> <!-- /span9 -->

                </div> <!-- /row -->

            </div> <!-- /span9 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

    <div class="container">
        <hr />
        <p>&copy; 2012 Go Ideate.</p>
    </div> <!-- /container -->

</div> <!-- /footer -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>


<script src="./js/bootstrap.js"></script>

</body>
</html>
