<!DOCTYPE html>
<html lang="en">

<% include header.ejs %>

<body>

<div id="content">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="account-container">

                    <div class="account-details">

                        <span class="account-name"><%= userinfo.username %></span>

                        <span class="account-role"><%= userinfo.department %> | <%= userinfo.position %></span>

                        <span class="account-actions"><%= userinfo.email %></span>

                    </div> <!-- /account-details -->

                </div> <!-- /account-container -->

                <hr />

                <ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li>
                        <a href="/alist">
                            <i class="icon-th-list"></i>
                            申请列表
                        </a>
                    </li>

                    <li>
                        <a href="/ulist">
                            <i class="icon-user"></i>
                            用户列表
                        </a>
                    </li>

                    <li class="active">
                        <a href="/adduser">
                            <i class="icon-plus"></i>
                            新增用户
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="icon-lock"></i>
                            注销
                        </a>
                    </li>

                </ul>

                <hr />

                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div> <!-- .sidebar-extra -->

                <br />

            </div> <!-- /span3 -->



            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-plus"></i>
                    新增用户
                </h1>


                <div class="row">

                    <div class="span9">

                        <div class="widget">

                            <div class="widget-header">
                                <h3>新增用户</h3>
                            </div> <!-- /widget-header -->

                            <div class="widget-content">

                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#1" data-toggle="tab">以下内容由管理员填写</a>
                                        </li>
                                    </ul>

                                    <br />

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">
                                            <form id="edit-profiles" class="form-horizontal" action="/adduser" method="post" />
                                            <fieldset>

                                                <div class="control-group">
                                                    <label class="control-label" for="username"> 姓 名 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="username" id="username" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="department"> 部 门 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="department" id="department" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="position"> 职 位 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="position" id="position" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="phone">联系电话</label>
                                                    <div class="controls">
                                                        <input type="tel" class="input-medium" name="tel" id="phone" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="email">E-mail</label>
                                                    <div class="controls">
                                                        <input type="email" class="input-large" name="email" id="email" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="password">新密码</label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" name="password" id="password" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="cpassword">确认密码</label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" name="cpassword" id="cpassword" value="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="accounttype">用户类型</label>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" name="type" value="c" checked="checked" id="accounttype" />
                                                            普通用户
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" name="type" value="a" />
                                                            管理员
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary">保存</button>
                                                    <button class="btn">取消</button>
                                                </div> <!-- /form-actions -->
                                            </fieldset>
                                            </form>
                                        </div>

                                    </div>


                                </div>

                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->

                    </div> <!-- /span9 -->

                </div> <!-- /row -->

            </div> <!-- /span9 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

    <div class="container">
        <hr />
        <p>&copy; 2012 Go Ideate.</p>
    </div> <!-- /container -->

</div> <!-- /footer -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>


<script src="./js/bootstrap.js"></script>

</body>
</html>
