<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>会员数据申请</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />


    <link href="./css/font-awesome.css" rel="stylesheet" />

    <link href="./css/adminia.css" rel="stylesheet" />
    <link href="./css/adminia-responsive.css" rel="stylesheet" />


    <link href="./css/pages/plans.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">会员数据申请</a>

            <div class="nav-collapse">

                <ul class="nav pull-right">

                    <li class="divider-vertical">
                        <li>
                            <a href="#"><i class="icon-off"></i> 注销</a>
                        </li>
                    </li>

                </ul>

            </div> <!-- /nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->




<div id="content">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="account-container">

                    <div class="account-details">

                        <span class="account-name"><%= username %></span>

                        <span class="account-role"><%= department %> | <%= position %></span>

                        <span class="account-actions"><%= email %></span>

                    </div> <!-- /account-details -->

                </div> <!-- /account-container -->

                <hr />

                <ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li  class="active">
                        <a href="./list.html">
                            <i class="icon-th-list"></i>
                            申请列表
                        </a>
                    </li>

                    <li>
                        <a href="./apply.html">
                            <i class="icon-pushpin"></i>
                            申请表单
                        </a>
                    </li>

                    <li>
                        <a href="./login.html">
                            <i class="icon-lock"></i>
                            注销
                        </a>
                    </li>

                </ul>

                <hr />

                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div> <!-- .sidebar-extra -->

                <br />

            </div> <!-- /span3 -->



            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-th-list"></i>
                    会员数据申请列表
                </h1>

                <div class="widget widget-table">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <h3>申请列表</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>申请编号</th>
                                <th>申请时间</th>
                                <th>申请字段</th>
                                <th>申请状态</th>
                                <th>关闭申请</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr  onclick="parent.location='./details.html';">
                                <td>1</td>
                                <td>MDA00001</td>
                                <td>2017/07/01</td>
                                <td>姓名；年龄；联系电话；邮箱</td>
                                <td>申请中</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>MDA00023</td>
                                <td>2017/07/02</td>
                                <td>姓名；年龄；联系电话</td>
                                <td>已关闭</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small"  disabled="">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>MDA00046</td>
                                <td>2017/07/08</td>
                                <td>姓名；年龄；邮箱</td>
                                <td>已关闭</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small"  disabled="">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>MDA00055</td>
                                <td>2017/07/10</td>
                                <td>姓名；联系电话；邮箱</td>
                                <td>已关闭</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small"  disabled=""
                                    >
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>MDA00076</td>
                                <td>2017/07/15</td>
                                <td>姓名；邮箱</td>
                                <td>申请中</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>MDA00084</td>
                                <td>2017/07/19</td>
                                <td>姓名；年龄；邮箱</td>
                                <td>申请中</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>MDA00091</td>
                                <td>2017/07/22</td>
                                <td>姓名；年龄；联系电话；邮箱</td>
                                <td>申请中</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>MDA00127</td>
                                <td>2017/07/25</td>
                                <td>姓名；联系电话；邮箱</td>
                                <td>申请中</td>
                                <td class="action-td">
                                    <a href="javascript:;" class="btn btn-small">
                                        <i class="icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div> <!-- /widget-content -->

                </div> <!-- /widget -->


            </div> <!-- /span9 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

    <div class="container">
        <hr />
        <p>&copy; 2012 Go Ideate.</p>
    </div> <!-- /container -->

</div> <!-- /footer -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>


<script src="./js/bootstrap.js"></script>

</body>
</html>
