<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />


    <link href="./css/font-awesome.css" rel="stylesheet" />

    <link href="./css/adminia.css" rel="stylesheet" />
    <link href="./css/adminia-responsive.css" rel="stylesheet" />

    <link href="./css/pages/plans.css" rel="stylesheet" />

    <style>
        .word{
            font-family: "宋体" !important;
            color: #000000;
            font-size: 35px !important;
            font-weight: 700 !important;
        }
        table{
            border:0.1px solid #000 !important;
            border-radius: 0 !important;
        }
        th{
            border-radius: 0 !important;
        }
        td{
            vertical-align:middle !important;
            text-align:center !important;
            font-family: "宋体" !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            height: 40px !important;
            border:1px solid #000 !important;
            border-radius: 0 !important;
        }
    </style>

    <script>
        window.print();
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div id="content">

    <div class="container">

        <div class="row">
            <div class="span12">

                <img src="img/logo.gif" height="45" width="159"/>

                <h1 class="word" style="text-align: center">
                    会员数据申请表
                </h1>

                <br>

                <div class="widget widget-table">

                    <div class="widget-content">

                        <table class="table"> <!-- table-bordered table-striped-->
                            <tbody>
                            <tr>
                                <td width="12">申请编号</td>
                                <td colspan="2">MDA00084</td>
                                <td colspan="3">提取10万以上会员数据需填写 &nbsp;&nbsp;&nbsp;以下内容由申请人填写</td>
                            </tr>
                            <tr>
                                <td width="12%">姓名</td>
                                <td colspan="2">张先生</td>
                                <td width="12%">申请日期</td>
                                <td colspan="2">2017/07/01</td>
                            </tr>
                            <tr>
                                <td>部门</td>
                                <td colspan="2">CRM</td>
                                <td>职位</td>
                                <td colspan="2">部门经理</td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td colspan="2">130****2534</td>
                                <td>E-mail</td>
                                <td colspan="2">Mr.zhang@wyethnutrition.com</td>
                            </tr>
                            <tr style="height: 180px;">
                                <td>申请原因</td>
                                <td colspan="5">业务需求</td>
                            </tr>
                            <tr style="height: 180px;">
                                <td>申请会员<br><br>数据字段</td>
                                <td colspan="5">姓名；年龄；联系电话；邮箱</td>
                            </tr>
                            <tr style="height: 180px;">
                                <td>法务部</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr style="height: 180px;">
                                <td>Head of <br><br> CRM</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr style="height: 180px;">
                                <td>Head of <br><br> business <br><br> department</td>
                                <td colspan="5"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div> <!-- /widget-content -->

                </div> <!-- /widget -->

            </div> <!-- /span9 -->
        </div> <!-- /row -->

    </div> <!-- /span9 -->

</div> <!-- /row -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>
<script src="./js/bootstrap.js"></script>

</body>
</html>
